<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PAM - Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'login.css'%}" />
  </head>
  <body>
    <div class="img">
      <a href="landing.html">
        <img
          src="{%static 'logonew.png'%}"
          alt="Your Logo"
          style="
            position: absolute;
            top: 0.5%;
            left: 0.1%;
            width: 225px;
            height: 80px;
          "
        />
      </a>
    </div>
    <div class="center">
      <h1>Forgot Password</h1>
      <form method="post">
        <div class="txtinput">
          <input type="email" required />
          <span></span>
          <label>Email</label>
        </div>
        <button onclick="window.location.href = '/login';">
          Login Again
        </button>
      </form>
    </div>
  </body>
</html>
